.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15rem;
}
.Base {
        font-family: Lato;
        font-size: 24px;
        font-weight: 700;
        line-height: 26.4px;
        text-align: left;
}

.Large {
        font-family: Lato;
        font-size: 32px;
        font-weight: 700;
        line-height: 35.2px;
        text-align: left;
}

a {
    color: #3C59E7;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.9px;
    text-align: left;
}
