.heading {
    display: flex;
    justify-content: space-between;
    gap: 200px;
}
.Base {
        font-family: Lato;
        font-size: 24px;
        font-weight: 700;
        line-height: 26.4px;
        text-align: left;
}

.Large {
        font-family: Lato;
        font-size: 32px;
        font-weight: 700;
        line-height: 35.2px;
        text-align: left;
}

button {
    
}