.attachment{
    width: 281px;
    height: 66px;
    top: 120px;
    left: 16px;
    border-radius: var(--radii-component-lg, 8px);
    border: var(--border-width, 1px) solid var(--color-border-neutral-soft, #E5E5E8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: var(--color-background-primary, #FFF);
    padding: var(--padding-xl, 12px 16px 12px 24px);
    display: grid;
    grid-template-columns: auto auto;
}

.attachment-header{
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin-top: -2px;
    color: var(--color-content-primary, #262629);
}

.descricao{
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.10px;
    margin-top: -9px;
    color: var(--color-content-terciary, #9698A4);
}

.content-tooltips{
    display: grid;
    grid-template-columns: auto auto;
}

.button1, .button2{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: 12px;
    cursor: pointer;
    position: relative;
}

.button1.hover, .button2.hover{
    background-color: var(--color-action-hover-on-brand, #203AEC14);
    border-radius: var(--radii-component-lg, 8px);
}

.button1.hover .tooltips, .button2.hover .tooltips{
    opacity: 1;
    pointer-events: auto;
}

.button1 .tooltips, .button2 .tooltips{
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top: 13px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.button1:hover .tooltips, .button2:hover .tooltips{
    opacity: 1;
    pointer-events: auto;
}

.button1:active, .button2:active{
    background-color: var(--color-action-pressed-on-brand, #C7CEFA);
}


.button1.hover::before, .button2.hover::before,
.button1:hover::before, .button2:hover::before{
    scale: 1;
}

.tooltips{
    bottom: 80px;
    transform: translateX(-50%);  
}